#eventos{
  background-color:white;
  width: 100%;
  height: 100vh;
  /* border-radius: 10px; */
  margin: auto;
  padding: 0;
  /* margin-top: 20px; */
  overflow: auto;
  
}

#eventos.active{
  display: flex;
  align-items: center;
  justify-content: center;
}



/* crear listado  */
.crearListadoBtn{
  width: 100%;
  display: flex;
  justify-content: end;
}

.crearListadoBtn button{
  border: none;
  width: 20%;
  height: 100%;
  cursor: pointer;
  background-color: rgb(75, 76, 76);
  color: white;
}

.listado-div button:hover{
  opacity: 0.7;
}


.table-asist{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.table-asist.visible, .enviar-asist-div.visible{
  opacity: 1;
}

.enviar-asist-div{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}


/* enviar asist button */
.enviar-asist-div{
  width: 90%;
  height: 7%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2%;
  margin-top: 2%;
  /* background-color: red; */
}

.enviar-asist-div button{
  width: 20%;
  height: 90%;
  /* padding: 5px; */
  /* height: 0%; */
}

.enviar-asist-div button:first-child{
  background-color: rgb(112, 221, 70);
  font-size: 12px;
}

.enviar-asist-div button{
  background-color: rgb(39, 145, 198);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}


/* main asistencia */
.inner-asistencia{
  width: 90%;
  height: 100%;
}
/* evento main */
.main-evento{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.inner-main-evento p{
  margin: 0;
}

p{
  margin: 0;
}

.inner-main-evento{
  width: 80%;
  height:100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 5%;
  margin-top: 2%;
}

/* division */
.main-division{
  width: 100%;
  /* background-color: red; */
  height: 42vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-event{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  gap: 7%;
}

.input-asist{
  border: solid 1px rgb(232, 232, 232);
  padding: 5px;
  width: 100%;
  height: 38px;
  padding-left: 15px;
  border-radius: 5px;
  font-size: 14px;
}

.main-division label{
  margin: 0;
}

/* header evento */
.title-event{
  width: 100%;
  /* height: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.prueba{
  /* border-style: solid; */
  width: 90%;
  /* background-color: red; */
  /* border-style: solid; */
  /* background-color: yellow; */
  
}




/*  row 2 */


/* row 3 */
.desc-container{
  width: 100%;
  height: 30%;
  /* background-color: red; */
}

.event-desc{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  
}

.event-desc-inner{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}

.event-desc-inner:first-child{
  align-items: start;
}

.event-desc-inner textarea{
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 4px;
  /* font-size: 1px; */
  padding: 10px;
}



/* main div de tabla */
.asistencia-main{
  width: 100%;
  height: 100%; /* Asegúrate de que la altura sea del 100% de la pantalla */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(61, 59, 59, 0.529);
  display: flex; /* Para centrar el contenido dentro del modal, si lo deseas */
  /* align-items: center; Centrar verticalmente el contenido */
  justify-content: center; /* Centrar horizontalmente el contenido */
  align-items: center;
}

.tabla-asistencia{
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* tabla */

.table-asist, .table-asist-new{
  width: 90%;
  border-collapse: collapse;
  /* background-color: red; */
}

/* tabla modal asistencia */
.container-asist-table{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* personalizar row de header */
.headerTable{
  position: sticky;
  
  /* width: 100%; */
}

.table-asist th, .table-asist-modal th, .table-asist-new th{
  padding: 20px;
  color: grey;
  font-weight: 100;
  font-size: 15px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
  text-align: center;
}

/* personalizar row de datos */
.table-asist td, .table-asist-modal td, .table-asist-new td{
  /* background-color: blue; */
  padding: 5px;
  font-size: 12px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
}



.table-asist td textarea, .table-asist-modal td textarea, .table-asist-new td textarea{
  resize: none; /* Evita que se pueda redimensionar el textarea */
  width: 100%;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: lightgrey;
}


/* Ocultar el checkbox estándar */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Estilo del contenedor del checkbox personalizado */
.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 10px;
  user-select: none;
}

/* Estilo del "checkmark" */
.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}


/* modal tabla */
.table-asist-modal{
  width:90%;
  border-collapse: collapse;
}

.update-list{
  width: 90%;
  height: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.tablaAsistBtn{
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: end;
  gap: 5%;
  height: 20px;
}

.tablaAsistBtn button{
  border: none;
  padding: 5px;
  
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.tablaAsistBtn button:hover{
  opacity: 0.7;
}

.tablaAsistBtn button:focus{
  outline: none;
}


.paginacionTablaAsist{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginaTablaInner{
  width: 90%;
  height: 90%;
  /* background-color: blue; */
}


/* Estilo del símbolo de check dentro del "checkmark" */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s;
}

/* Mostrar el símbolo de check cuando el checkbox está marcado */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  opacity: 1;
}

.ausente:checked + .checkmark {
  background-color: red;
  border-color: red;
}

.tardanza:checked + .checkmark {
  background-color: orange;
  border-color: orange;
}

.justificado:checked + .checkmark {
  background-color: yellow;
  border-color: yellow;
}

.presente:checked + .checkmark {
  background-color: green;
  border-color: green;
}


/* una vez se envía asistencia */
.asistencia-enviada{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.aEnviada-inner{
  /* background-color: blue; */
  width: 95%;
  height: 90%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title-aEnviada{
  width: 100%;
  /* background-color: green; */
  text-align: center;
  font-size: 2em;
}
.title-aEnviada h1{
  margin: 0;
}

.aEnviada-opciones{
  width:100%;
  height: 30%;
  margin-top: 2%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.aEnviada-opciones-inner{
  width: 70%;
  height: 100%;
  gap: 5%;
  overflow: hidden;
  /* background-color:yellow; */
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.aEnviada-opciones-inner button{
  border: none;
  cursor: pointer;
  border: none;
  font-size: 1.2em;
  border-radius: 5px;
  transition: all 0.15s ease;
}
.aEnviada-opciones-inner button:hover{
  background-color: #2873B8;
  color: white;
}
 



/* setting asistencia */
.asistencia-setting{
  width: 100%;
  height: 90%;
  background-color: rgb(226, 226, 226);
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.hour-date-show{
  width: 90%;
  height: 100%;
  margin: auto;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ubicacion-show{
  width: 95%;
  height: 80%;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.ubicacion-show-inner{
  width: 80%;
  height: 60%;
  /* background-color: red; */
  display: grid;
  grid-template-rows:2fr 1fr 1fr;
}

.ubicacion-show-inner i{
  font-size: 50px;
}

.gps-div{
  /* border-style: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-date-show{
  width: 100%;
  height: 80%;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hour-show, .date-show{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hour-show{
  flex-direction: column;
}
.hour-show h1{
  font-size: 20px;
  font-weight: 400;
}

.cancelado{
  color: red;
}

.terminado{
  color: green;
}

.suspendido{
  color: purple;
}

.hour-show p{
  font-size: 1.7em;
  font-weight: bold;
}
.date-show p{
  font-size: 1.3em;
}

.div-cambiar-hora{
  width: 100%;
  height: 20%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.div-cambiar-hora button{
  width: 30%;
}

.btn-cambiar-hora, .gps-div button,.scoreBtn,.btn-configurar-partido{
  border: none;
  width: 80%;
  height: 100%;
  font-size: 14px; 
  /* font-weight: bold; */
  border-radius: 6px;
  background-color: rgb(0, 0, 0);
  color:white;
  transition: all 0.15s;
}

.btn-cambiar-hora:hover, .gps-div button:hover,.scoreBtn:hover,.btn-configurar-partido:hover{
  background-color: white;
  color: rgb(75, 106, 230);
  font-weight: bold;
} 

.btn-cambiar-hora button:focus, .gps-div button:focus{
  outline: none;
}

/* inferior */
* {
  box-sizing: border-box;
}
.inf-asist-show{
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: red; */
  align-items: top;
  justify-content: center;
}

.inf-asist-inner{
  width: 90%;
  height: 100%;
  display: grid;
  /* background-color: blue; */
  margin: auto;
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;
  justify-content: center;
  gap: 20px;
}

.noPartido{
  grid-template-columns: 1fr;
}

.noPartido:first-child{
  width: 60%;
}

/* box pequeños */
.inf-asist-box{
  background-color: white;
  height: 80%;
  width: 100%;
  border-radius: 10px;
  /* background-color: green; */
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease;
}


.inf-asist-box:hover, .inf-partido-info:hover, .inner-date-show:hover, .ubicacion-show:hover{
  background-color: rgb(75, 106, 230);
  color: white;
}

.info-box-innner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-color: blue; */
}

.info-box-innner i{
  font-size: 60px;
}


/* box de partido */
.inf-partido-info{
  width: 100%;
  height: 80%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.partido-inner{
  width:100%;
  height: 90%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.equipos-partido{
  width: 90%;
  height: 60%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.equipo-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  height: 90%;
  overflow: hidden;
}

.nombre-equipo p{
  margin: 0;
}

/* VS WORD */
.vs-p{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vs-p p{
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.logo-equipo-div{
  overflow: hidden;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}
.logo-equipo-div img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


/* score  */
.partido-score{
  display: flex;
  flex-direction: column;
}

.score-col{
  width: 100%;
  height: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  gap: 20px;
}
.score-col p{
  margin:0;
}

.scoreBtnDiv{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scoreBtnDiv{
  width: 75%;
  height: 15%;
}

/* change date modal css */
.modal-change-date{
  width: 100%;
  height: 100%; /* Asegúrate de que la altura sea del 100% de la pantalla */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(61, 59, 59, 0.529);
  display: flex; /* Para centrar el contenido dentro del modal, si lo deseas */
  /* align-items: center; Centrar verticalmente el contenido */
  justify-content: center; /* Centrar horizontalmente el contenido */
}

/* content ubicacion */
.changelocation-content{
  width: 30%;
  height: 50%;
  margin-top:10%;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* inner */
.inner-location{
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  /* background-color: red; */
}

/* icon div */
.col-loc1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(49, 49, 49);
}

.col-loc1 i{
  font-size: 60px;

}

/* input div loc */
.col-loc2{
  display: flex;
  flex-direction: column;
}
.col-loc2 label{
  font-size: 10px;
  margin: 0;
}
.col-loc2 input{
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  text-align: center;
}

/* botones div */
.col-loc3{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: start;
  gap: 5%;
}

.col-loc3 button{
  outline: none;
  border: none;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.col-loc3 button:hover{
  opacity: 0.7;
}


/* content date */
.changedate-content{
  width: 50%;
  height: 50%;
  margin-top:10%;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changedate-header{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
  /* background-color: green; */
}

.changedate-header p{
  margin: 0;
  
}

.inlineCalendar{
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
}

.col-m-6{
  /* background-color: red; */
  width: 100%;
  height: 100%;
}

.datePicker{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgray;
}

.datepicker-inner{
  height: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
 
}

.col-m-8{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  /* background-color: red; */
}

/* hora picker */
.timePicker{
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  justify-content: center;
  align-items: center;

}

/* inicio hora */

.hora-inicio{
  /* background-color: green; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-hora{
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr;
  /* background-color: yellow; */
}

.col-hora-1{
  width: 100%;
  display: flex;
  gap: 10%;
}

.datepicker-input{
  text-align: center;
}

.datepicker-input{
  border: solid 1px lightgrey;
  font-size: 12px;
  height: 20%;
  width: 20%;
  padding-left: 5px;
}

.datetimepicker-input{
  height: 40%;
  width: 20%;
  border: solid 1px lightgrey;
  font-size: 12px;
  padding-left: 5px;
}

.btn-hr{
  border: none;
  background-color: lightgray;
  outline: none;
  height: 40%;
}

.active-btn-hr{
  background-color: rgb(46, 112, 255);
  color: white;
  outline: none;
}


.changedate-select{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* background-color: red; */
}

.changedate-select button{
  border: none;
  border-radius: 6px;
  outline: none;
}


/* change configuracion */
.formConfigPartido{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  /* gap: 2%; */
  height: 100%;
}

.configCol:last-child{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  /* background-color: red; */
  /* border-style: solid; */
}

.configCol button{
  border: none;
  width: 50%;
  height: 50%;
  background-color: black;
  color: white;
  border-radius: 5px;
  /* padding: 5px; */
}

.configCol label{
  margin:0;
  margin-bottom: 5px;
}

.configurar-content{
  width:25%;
  height: 60%;
  border-radius: 10px;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.config-inner{
  width: 90%;
  height: 90%;
  /* background-color: red; */
}

.config-col{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.config-col input{
  width: 20%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}

/* SECCION EVENTO INFO */
.evento-Info{
  width: 100%;
  height: 90%;
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-info-1{
  background-color: white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.col-info-1:first-child{
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: lightgrey;
}

.inner-col-info-1{
  width: 90%;
  height: 80%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form izq */
.form-info-evento{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-items: center;
  
  gap: 5%;
}

.form-col{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form-col input{
  color: lightgrey;
  padding: 5px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 8px;
  outline: none;
}

.form-col label{
  margin: 0;
  margin-bottom: 2%;
}

.form-btn{
  width: 80%;
  height: 20%;
  /* background-color: red; */
}

.form-btn button{
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: none;
  color: white;
  background-color:rgb(44,44,44);
}


/* responsive */
@media screen and (max-width: 768px) {
  
  .changedate-content{
    height: 50%;
    width: 85%;
  }

  .inlineCalendar{
    font-size: 13px;
  }

  /* config partido */
  .configurar-content{
    width: 90%;
    height: 50%;
    margin: 0;
    margin-top: 10%;
  }

  /* date side */

  .datePicker{
    justify-content: start;
  }

  .datepicker-input{
    font-size: 10px;
    height: 15%;
    width: 100%;
  }

  .col-m-8{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    
  }

  .col-hora-1{
     flex-direction: column;
  }
  /* hour side */
  .responsive-hour{
    
    display: flex;
    flex-direction: row;
    height: 30%;
    gap: 10%;
  }

  .responsive-hour input{
    width: 40%;
    height: 100%;
  }

  .btn-hr-div{
    width: 100%;
    display: flex;
    gap: 5%;
  }
  .btn-hr-div button{
    height: 100%;
    width: 40%;
  }


  /* location mobile */
  .changelocation-content{
    width: 80%;
  }

  .col-loc2{
    gap: 2%;
  }

  .inner-main-evento{
    width: 100%;
    gap: 2%;
  }

  .main-division{
    height: 35vh;
  }

  .tool-bar{
    display: none;
  }

  .crearListadoBtn{
    height: 5vh;
    display: flex;
    justify-content: center;
  }

  .crearListadoBtn button{
    width: 60%;
    border-radius: 20px;
  }

  /* tabla */
  .asistencia-main{
    align-items: start;
    overflow: auto;
  }

  .tabla-asistencia{
    height: 60%;
    margin-top: 10%;
    overflow: auto;
    align-items: start;
  }

  .table-asist{
    overflow: auto;

  }

  .enviar-asist-div{
    height: 8%;
  }

  .enviar-asist-div button{
    width: 60%;
  }
  .enviar-asist-div button:first-child{
    font-size: 10px;
  }
  

}