
html{
  font-family: sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(84, 157, 201);
}


.successNotif {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 500px;
  height: 100px;
  color: white;
  background-color: rgb(34, 181, 61);
  z-index: 100;
  transform: translate(-50%, -50%); /* Centra el popup */
  display: flex; /* Opcional: para alinear contenido */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  text-align: center;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para mejorar la apariencia */
  cursor: pointer;
}

.successNotif-inner{
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  position: relative;
}

.close-success{
  position: absolute;
  top: 5%;
  right: 0;
  cursor: pointer;
}


.successNotif-inner p{
  margin: 0;
}

header{
  background-color: white;
  height: 15vh;
  display: flex;
  align-items: center;
}

header h1{
  color: white;
  margin-left: 20px;
  font-size: 1.5em;
}


.main{
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* navs */
.seccion {
  display: none;
  
}
.activo {
  display: block;
}

#lottieAnimationCount{
  width: 50px; 
  height: 100%; 
  margin: 0; 
  display: flex;
  align-items: start;
  justify-content: center;
}

/* barra de herramientas */
.tool-bar{
  width: 15%;
  height: 100vh;
  /* margin-top: 10px; */
  border:none;
  background-color: rgb(84, 157, 201);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.5s ease;
  position: relative;
}



/* tool bar mouseover */
.eventos-options{
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 100;
  width: 15vw;
  height: 100vh;
  background-color:#3283E5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-eventos-options{
  width: 100%;
  height: 90%;
  /* background-color: red; */
}

.sub-option{
  width: 100%;
  height: 8%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  cursor: pointer;
}

.sub-option:hover{
  background-color: rgb(211, 75, 75);
}

.icon-div{
  width: 20%;
  display: flex;
  justify-content: center;
}

.icon-div i{
  color: white;
}

.word-div{
  width: 50%;
}


.tool-bar.collapsed {
  width: 4%;
}

.tool-bar p{
  margin: 0;
}

/* NOMBRE ACADEMIA */
.academy-name{
  width:90%;
  height: 10%;
  display: flex;
  align-items: center;
  /* background-color: white; */
}

.tool-bar.collapsed .academy-name{
  display:flex;
  justify-content: center;
  width: 100%;
}

.tool-bar.collapsed .title-name{
  display: none;
}

.title-name{
  width: 70%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 5%;
  /* background-color: black; */
}
.title-name p{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.logo-aguila-container{
  /* width: 50%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-aguila{
  width: 100%;
  height: 40%;
}

.burger{
  /* background-color: green; */
  width: 50%;
  display: flex;
  justify-content: end;
}
.burger i{
  padding-right: 10px;
  cursor: pointer;
  color: white;
  
}


.option-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  gap: 5%;
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Añadimos una transición para la opacidad y visibilidad */
  opacity: 1; /* Aseguramos que la opacidad sea 1 por defecto */
  visibility: visible; /* Aseguramos que la visibilidad sea visible por defecto */
}

.tool-bar.collapsed .option-bar {
  opacity: 0; /* Oculta las opciones */
  visibility: hidden; /* Oculta las opciones */
}


.option-bar p{
  color:rgb(233, 233, 233);
}

.option{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 7%;
  border-radius: 5px;
  gap: 5%;
  color: white;
  cursor: pointer;
}

.activeOpt{
  background-color: rgb(255, 255, 255);
  color: rgb(84, 157, 201);
  cursor: pointer;
  transition: all 0.5s ease;
}

.activeOpt p{
  color: rgb(84, 157, 201);
}

.option:hover{
  background-color: rgba(255, 255, 255, 0.444);
  
  /* color: rgb(86, 155, 238); */
}

.name-option{
  width: 50%;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-options{
  width: 100%;
  height: 20%;
  display: flex;
  background-color: yellow;
}



/* team selecto */

.team-selector{
  width: 95%;
  /* height: 30px; */
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: end;

  margin-bottom: 10px;
  /* background-color: red; */
}
.teamViewJugadores{
  width: 20%;
  height: 100%;
}

.equipoMostrando{
  height: 100%;
  width: 5%;
  display: flex;
  margin-right: 5%;
  /* justify-content: center; */
  align-items: center;
  /* background-color: red; */
}

.equipoMostrando p{
  margin: 0;
}


/* lottie loading */
#loadingLottie{
  /* background-color: red; */
}


/* caja enlace */
.seccion-agregar-jugador{
  width: 90%;
  height: 15%;
  display:none;
  /* background-color: black; */
  /* border-style: solid; */
  display: flex;
  animation-name: desplegar;
  animation-duration: 0.5s;
  flex-direction:row;
}

@keyframes desplegar {
  0%{
    height: 0%;
    opacity: 0;
  }100%{
    height: 15%;
  }
}

@keyframes cerrar {
  0%{
    height: 20%;
 
  }100%{
    height: 0%;
    opacity: 0;
  }
}



.sub-link, .crear-jugador{
  width: 50%;
  /* background-color: red; */
  margin-left: 3%;
}

.crear-jugador button{
  width: 40%;
  height: 40px;
  background-color: rgb(86, 155, 238);
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.crear-jugador button:hover{
  opacity: 0.9;
}

.refrescar:hover{
  opacity: 0.8;
}
.refrescar:active{
  opacity: 0.9;
}

.sub-link p, .crear-jugador p{
  color: grey;
  margin: 0;
  margin-bottom: 2%;
  margin-top: 2%;
}


#copy-link{
  /* background-color: black; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  width: 80%;
  height: 40px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
}



#copy-link p{
  margin-left: 5%;
  color: lightgray;
  white-space: nowrap;
}

#copy-link:active{
  opacity: 0.4;
}


#copy-link button{
  width: 30%;
  border-style: none;
  cursor: pointer;
  background-color:rgb(86, 155, 238);
  color: white;
}

.link-registro{
  width: 70%;
  display: flex;
  align-items: center;
}


/* crear jugador modal  */
.modal-crear-jugador{
  position: fixed; /* Posición fija para que el modal permanezca en la misma posición en la pantalla */
  z-index: 1; /* Hace que el modal esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* El modal ocupa toda la pantalla */
  height: 100%; /* El modal ocupa toda la pantalla */
  overflow: auto; /* Añade un scroll si el contenido es demasiado grande */
  background-color: rgba(0,0,0,0.4); /* Fondo semitransparente para el modal */
}

.content-crear-jugador{
  width: 40%;
  height: 90%;
  margin: auto;
  margin-top: 2%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.crear-jugador-xmark{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.crearJugadorTitle{
  margin: 0;
  margin-top: 2%;
}

#formCrearJugador{
  margin-top: 2%;
  padding-bottom: 50px;
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* gap: 10%; */
  overflow: auto;
}

.fieldSetJugador legend{
  font-size: 14px;
  color: grey;

}

.fieldSetJugador{
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.form-group{
  display: flex;
  width: 80%;
  flex-direction: column;
}
.form-group label{
  margin: 0;
  font-size: 10px;
}
.form-group input{
  border: 1px solid rgb(214, 214, 214);
  border-radius: 3px;
  padding: 8px;
  font-size: 12px;
}

/* boton crear jugador */
.btnCrearJugador{
  width: 50%;
  border-radius: 3px;
  border: none;
  padding: 5px;
}


/* seccion jugadores */
#jugadores{

  background-color:white;
  width:100%;
  height: 100vh;
  /* border-radius: 10px; */
  margin: auto;
  padding: 0;
  margin: 0;
  /* margin-top: 20px; */
  overflow: auto;
}

#jugadores.activo{}

#asistenciaMain{
  width:100%;
  height: 100vh;
  /* border-radius: 10px; */
  /* margin: auto; */
  padding: 0;
  /* margin-top: 20px; */
  overflow: auto;
}



.titulo-seccion-jugadores,.herramientas,.tabla-jugadores ,.etiqueta-filtro-div{
  margin:auto;
}


.titulo-seccion-jugadores{
  display: flex;
  align-items: center;
}

.titulo-seccion-jugadores p{
  font-size: 12px;
  margin: 0;
}

/* estilos para el searchbar, filtros y más */
.titulo-seccion-jugadores{
  width: 95%;
  height: 10%;
  display: flex;
  /* padding-top: 10px; */
  /* align-items: center; */
}




/* dashboard */
.dashboard-jugadores{
  width: 95%;
  height: 10%;
  border-radius: 10px;
  margin: auto;
  background-color: rgb(60, 131, 255);
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: center;
  /* justify-content: center; */
}

.jugadores-totales:first-child{
  margin-left: 20px;
}

.jugadores-totales{
  width: 15%;
  border-radius: 10px;
  height: 70%;
  background-color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 5%;
  font-size: 12px;
}

.icon-dashboard{
  width: 10px;
  height: 10px;
  margin-left: 10%;
  border-radius: 50%;
  background-color: rgb(0, 140, 28);
}

.dato-dashboard{
  font-weight: bold;
}
.descripcion-dato{
  color: grey;
}

.herramientas{
  height:8%;
  width: 95%;
  /* margin-top: 2%; */
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
  /* background-color: red; */
  /* background-color: blue; */
}

.add-player-btn{
  background-color: rgb(97, 130, 248);
  padding: 6px 14px 6px 14px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-size:14px;
}

.add-player-btn:hover{
  opacity: 0.8;
}

.icon-tools{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* background-color: red; */
  height: 100%;
  width: auto;
  position: absolute;
  right: 20px;
}

.icon-tools input{
  outline: none;
  border: 2px solid rgb(77, 197, 237);
  border-radius: 4px;
  padding-left: 10px;
  height: 50%;
  font-size: 14px;
}

.icon-tools input::placeholder{
  color: lightgrey;
}

.icon-tools i{
  cursor: pointer;
  color: grey;
}

.icon-tools i:hover{
  opacity: 0.7;
  color: black;
}


/* search bar styles */
.search-bar-xmark{
  color: grey;
  margin: 0;
  cursor: pointer;
}

.search-bar-container{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: width 0.3s ease;
}

.search-bar-container.show {
  width: 210px; /* Ancho deseado del search bar */
}



/* crear jugador admin */
.crear-jugador-modal{
  position: fixed; /* Posición fija para que el modal permanezca en la misma posición en la pantalla */
  z-index: 1; /* Hace que el modal esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* El modal ocupa toda la pantalla */
  height: 100%; /* El modal ocupa toda la pantalla */
  overflow: auto; /* Añade un scroll si el contenido es demasiado grande */
  background-color: rgba(0,0,0,0.4); /* Fondo semitransparente para el modal */
}


.crear-jugador-content,.subir-jugadores{
  width: 30%;
  height: 40%;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subir-jugadores{
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.col-subir-jugadores{
  width: 80%;
  height: 20%;
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
}

.col-subir-jugadores i, .col-subir-jugadores p{
  margin: 0;
  font-size: 20px;
}

.col2-subir-jugadores{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /* background-color: red; */
}
.col2-subir-jugadores button{
  width: 30%;
  height: 40%;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  /* padding: 5px; */
  transition: all 0.15s ease;
}


.col2-subir-jugadores button:hover{
  opacity: 0.8;
}

.crear-jugador-x{
  position: absolute; 
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.upload-opt{
  /* background-color: red; */
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-opt button{
  padding: 10px;
  height: 50%;
  width: 80%;
  border: none;
  border-radius: 10px;
}








/* filter styles */

.filter-main-div{
  position: relative;
}
.filter-list-div{
  position: absolute;
  right: 0;
  top: 25px;
  width: 200px;
  height: 200px;
  z-index: 4;
  background-color: white;
  border: none;
  border-radius: 6px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.filter-field{
  border-bottom: 1px solid rgb(212, 212, 212);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-field:first-child{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.filter-field:last-child ,.filter-field-secundary:last-child{
  border-bottom: none;
}

.filter-field:hover , .filter-field-secundary:hover{
  background-color: rgb(239, 239, 239);
}

.filter-field p{
  margin: 0;
  margin-left: 10px;
  font-size: 13px;
}


#filtroPosicion , #filtroEdad, #filtroSalud, #filtroEquipo , #filtroFecha{
  position: relative;
}

.filter-field-secundary{
  border-bottom: 1px solid rgb(212, 212, 212);
  display: flex;
  align-items: center;
  height: 40px; 
} 


.secundary-filter-list , .secundary-filter-list-edad ,.secundary-filter-list-salud,.secundary-filter-list-equipo, .secundary-filter-list-fecha{
  position: absolute;
  display: grid;
  display: none;
  grid-template-rows: 1fr*8;
  overflow: auto;
  left: -260px;
  top: 0;
  width: 250px;
  height: auto;
  background-color: white;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.etiqueta-filtro-div{
  /* background-color: red; */
  height: 80px;
  display: none;

}

.filtrar-button{
  background-color: rgb(97, 130, 248);
  padding: 6px 14px 6px 14px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-size:14px;
}

.filtrar-button:hover{
  opacity: 0.7;
}

.inner-etiquetas-div{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.etiquetaFiltro{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 30px;
  background-color: rgb(202, 202, 202);
  border: none;
  border-radius: 10px;
}
.etiquetaFiltro p{
  margin: 0;
  padding-left: 5px;
  font-size: 14px;
}

.etiquetaFiltro i{
  font-size: 14px;
  cursor: pointer;
  padding-right: 5px;
}

.etiquetaFiltro i:hover{
  opacity: 0.7;
}



/* Estilos para la tabla */
.tablaJugadores-div{
  width: 100%;
  /* height:500px; */
  margin: auto;
  overflow-y: auto;
  /* background-color: red; */
}
.tabla-jugadores {
  border-collapse: collapse;
  width: 95%; /* Ancho completo */
  border: none;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 6px;
  /* margin-top: 10px; */
  overflow: hidden;

}

.body-tabla-jugadores{
}

/* Estilos para las filas de encabezado */
.row-encabezado th {
  padding: 14px; 
  text-align: center; /* Alineación del texto a la izquierda */
  font-weight: 400;
  background-color: white;
  color: grey;
  border-top: 1px solid #ddd; 
  font-size: 12px;
  border-right: 1px solid #ddd;
}

/* Estilos para las filas de datos */
.row-data td {
  font-size: 12px;
  
  padding: 10px; /* Espaciado interno */
  text-align: center;
  color: grey;
  white-space: nowrap;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.row-data i{
  padding: 14px;
  font-size: 14px;
  cursor: pointer;
}

.row-data i:hover{
  opacity: 0.7;
}

.row-data{
  transition: all 0.15s ease;
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd;

}

.row-data:hover{
  background-color: #f4f3f3;
}


.modal, .modal-filtro {
  display: none ; 
  position: fixed; /* Posición fija para que el modal permanezca en la misma posición en la pantalla */
  z-index: 1; /* Hace que el modal esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* El modal ocupa toda la pantalla */
  height: 100%; /* El modal ocupa toda la pantalla */
  overflow: auto; /* Añade un scroll si el contenido es demasiado grande */
  background-color: rgba(0,0,0,0.4); /* Fondo semitransparente para el modal */
}


.modal-content-editar {
  background-color: #fefefe; /* Fondo blanco para el contenido del modal */
  border-radius: 10px;
  border: 1px solid #888;
  margin: auto;
  margin-top: 2%;
  width: 35%; /* Ancho del contenido del modal */
  height: 80%;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */

}

.modal-asistencia-header{
  /* background-color: red; */
  display: flex;

}


.modal-asistencia-header button{
  border: none;
  background-color: transparent;
}

.modal-head{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10%;
  
}

.modal-head i{
  cursor: pointer;
  font-size: 20px;
}
.modal-head i:hover{
  opacity: 0.7;
}


.modal-head h2{
  margin: 0;
  
  padding: 0;
}

.modal-body{
  width: 100%;
  height: 100%;
  overflow: auto;
}




/* form editar */
.form-editar{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  align-items: center;
  gap: 10px;
}

.boton-div{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.boton-div button{
  background-color: rgb(97, 130, 248);
  padding: 10px;
  width: 80%;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-size:14px;
}

#enviarFormEditar.inactive{
  background-color: grey;
  cursor: not-allowed;
  /* pointer-events: none; */
}

.form-content-div{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  overflow: visible;
}


.contenedor-numero-jugador{
 /* background-color: red; */
}

.form-editar input {
  width: 100%; /* El input ocupa todo el ancho disponible */
  padding: 5px; /* Espacio interno del input */
  border-radius: 5px; /* Borde redondeado del input */
  
}

.left-edit-div, .right-edit-div{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.left-edit-div label, .right-edit-div label{
  margin: 0;
  font-size: 10px;
}

.editJugadorX{
  right:10px;
  top: 10px;
  position: absolute;
  font-size: 15px;
}



.left-edit-div input, .right-edit-div input{
  border: 1px solid lightgrey;
  font-size: 12px;
  padding: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Paginacion */

.barra-paginacion{
  margin: auto;
  width: auto; 
  max-width: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.inner-barra-paginacion{
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.inner-barra-paginacion i{
  font-weight: bold;
  font-size: 20px;
}

.inner-barra-paginacion p{
  color: rgb(55, 55, 226);
  cursor: pointer;
  font-weight: bold;
}


.inner-barra-paginacion p:hover{
  opacity: 0.8;
}

.numeros-paginacion,.numeros-paginacion-asist{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.numeros-paginacion a{
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

a.active,
a:active {
  color: inherit; /* Utiliza el color de texto heredado del elemento padre */
  text-decoration: none; /* Elimina cualquier decoración de texto, como subrayado */
}

#btnAnterior, #btnSiguiente, #btnSiguienteAsist, #btnAnteriorAsist{
  background-color:transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;

}

#btnSiguienteAsist, #btnAnteriorAsist{
  font-size: 10px;
}

#btnAnterior:hover, 
#btnSiguiente:hover,
#btnSiguienteAsist:hover, 
#btnAnteriorAsist:hover{
  color: rgb(55, 55, 226);
}

@media screen and (max-width: 768px){
  .modal-content{
    width: 70%;
    height: 40%;
    margin: 35% auto;
  }

  /* filtros responsive */
  .modal-content.filter{
    height: auto; 
    border-radius: 0px;
  }


  .modal-body.filter{
    /* background-color: red; */
    display: flex;
    justify-content: center;
  }

  .filtrosResponsive{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .filtrosResponsive label{
    color: rgb(168, 163, 163);
    font-size: 10px;
  }

  .filtrosResponsive button{
    background-color: rgb(97, 130, 248);
    width: 100px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    font-size:14px;
  }

  .containerFilterInput ,.containerfilterSelect{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .containerFilterInput{
    display: none;
  }


}


@media screen and (max-width: 768px) {
  .search-bar-container{
    width: 100%;
    height: 100%;
  }

  #jugadorBuscar{
    width: 100%;
    background-color: #ffffff;
    border-color: rgb(120, 120, 120);
    height: 80%;
    border-width: 1px;
    border-radius: 2px;
  }

  .icon-tools{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 60%;
    right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .filter-list-div{
    width: 100px;
    height: 200px;
  }

  .secundary-filter-list , .secundary-filter-list-edad ,.secundary-filter-list-salud,.secundary-filter-list-equipo{

    left: -210px;
    top: 0;
    width: 200px;
  }
}


@media screen and (max-width: 768px) {
  .seccion-jugadores{
    width: 100vw;
    height: auto;
    margin-top: 0px;
    border-radius: 0px;
    overflow: auto;
  }


}