/* skeleton */
/* Skeleton style for loading elements */
.skeleton {
  background-color: #e0e0e0; /* light gray color */
  color: transparent; /* hide text initially */
  position: relative;
  overflow: hidden;
  /* z-index: 100; */
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: loading 1.5s infinite;
}

/* Animation for shimmer effect */
@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

/* skeleton */


.usuarios-seccion{
 /* background-color: red; */
  width: 100%;
  height: 100vh;
}

.u-col1{
  width: 80%;
  height: 30%;
  margin: auto;
  /* background-color: red; */
}

.u-col1-l{
  display: flex;
  height: 100%;
  /* justify-content: center; */
  align-items: center;
}

.addUser-div{
  width: 80%;
  height: 60%;
  border-radius: 20px;
  background-color: rgb(70, 167, 240);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  color: white;
}

.addUser-l{
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 5px;
}

.addUserF{
  display: flex;
  flex-direction: row;
  /* background-color: white; */
  gap: 5%;
  align-items: center;
}

.addUser-l-col{
  width: 80%;
  /* height: 60%; */
}


.addUser-r{
  display: flex;
  align-items: end;
}

.addUser-r-col{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.addUser-r-col button{
  height: 50%;
  width: 50%;
  outline: none;
  background: none;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  color: rgb(164, 146, 146);
  
}

.addUser-r-col button:focus {
  outline: none;
}


.u-col2{
  width: 90%;
  height: 65%;
  margin: auto;
  /* background-color: rgb(0, 0, 0); */
  /* border-style: solid; */
  overflow: hidden;
  

}

.u-col2-2{
  width: 100%;
  height: 90%;

}

.u-col2 p{
  margin: 0;
}

/* tablas */
.tabla-usuarios{
  /* background-color: black; */
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 90%;
  width: 100%;
}

.paginacion-usuarios{
  width: 100%;
  height: 10%;
  width: 65%;
  /* background-color: red; */
}



.user{
  /* border-style: solid; */
  display: flex;
  align-items: center;
}

.rol-usuario{
  color: rgb(137, 136, 136);
  font-size: 12px;
  margin: 0;
}

.user-inner{
  height: 80%;
  width: 80%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: red */
  border: 2px solid;
  border-color: lightgray;
  overflow: hidden;
}

.user-inner:hover{
  border-color: rgb(49, 186, 255);
}

.user-inner:active{
 
}


.user-inner-l{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-inner-l-inner, .user-inner-r-inner{
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  gap: 2%;
}

.user-inner-l-inner p{
  font-weight: bold;
}

.user-profile-pic, .d3-profile, .user-profile-pic-create, .d3-profile-create{
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color:  rgb(32, 71, 100);
  position: relative;
}

.d3-profile, .d3-profile-create{
  position: absolute;
  bottom: 2px;
  background-color:  rgb(70, 167, 240);
}

.user-inner-r{
  width: 100%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-inner-r-inner{
  justify-content: end;
  gap: 5%;
}
.user-inner-r-inner i{
  color: grey;
  cursor: pointer;
}

.user-inner-r-inner i:hover{
  opacity: 0.8;
}


/* crear usuario modal */
.crearUsuario-modal{
  width: 100%;
  height: 100%; /* Asegúrate de que la altura sea del 100% de la pantalla */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(61, 59, 59, 0.529);
  display: flex; /* Para centrar el contenido dentro del modal, si lo deseas */
  /* align-items: center; Centrar verticalmente el contenido */
  justify-content: center; /* Centrar horizontalmente el contenido */
}

.crearUsuario-content{
  width: 30%;
  /* height: 70%; */
  border-radius: 10px;
  margin: auto;
  background-color: white;
  position: relative;
  overflow: visible;
}

.crearUsuario-header{
  width: 100%;
  height:10%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: end;
  /* background-color: red; */
}

.crearUsuario-header h2{
  font-size: 25px;
  color: rgb(87, 87, 87);
}

.cerrarCrearUsuario{
  position: absolute;
  right: 20px;
  top: 15px;
  color: grey;
  cursor: pointer;
}

/* form */
.formCrear-usuario{
  height: 80%;
  width: 100%;
  /* background-color: red; */
}

.formUsuario-col1{
  width: 100%;
  height: 30%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.formUsuario-col1-l{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.user-profile-pic-create, .d3-profile-create{
  width: 90px;
  height: 90px;
}


.formUsuario-col1-r{
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
  /* justify-content: center; */

}

.formUsuario-div{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.formUsuario-div label{
  margin: 0;
  font-size: 10px;
}

.formUsuario-div input{
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 10px;
  outline: none;
  font-size: 12px;
}

.formUsuario-div input::placeholder{
  font-size: 12px;
}

.formUsuario-col2{
  width: 100%;
  height: 50%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* background-color: red; */
}

.formUsuario-col2-up{
  width: 90%;
}


/* checkBox select */
.multipleSeleccion{
  width: 90%;
  margin-top: 2%;
  /* background-color: blue; */
}

.selectBox{
  position: relative;
}

.selectBoxInput{
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none; /* Remueve la flecha */
  /* background-color: rgb(235, 235, 235); */
  border: 1px solid rgb(238, 238, 238);
  /* font-size: 12px;
  padding: 10px; */
  
}

#checkBoxEquipo{
  background-color: white;
  position: absolute;
  width: 100%;
  max-height: 200px;
  left: 0;
  right: 0;
  top: 40px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.checkmark-user{
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

#checkBoxEquipo p{
  margin: 0;
}

#checkBoxEquipo label{
  margin-left: 10px;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
}

#checkBoxEquipo label:hover{
  background-color: rgb(235, 235, 235);
}

.addUserBtn{
  width: 90%;
  height: 20%;
  margin-top: 10%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* background-color: red; */
}

.addUserBtn button{
  padding: 10px 20px 10px 20px; 
  border: none;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  background-color:  rgb(70, 167, 240);
  color: white;
  outline: none;
}

#error-message{
  width: 100%;
  display: block;
  /* background-color: black; */
}



/* editar usuario modal */
.editUser-content{
  width: 40%;
  height: 80%;
  border-radius: 10px;
  margin: auto;
  margin-top: 2%;
  background-color: white;
  overflow: visible;
  position: relative;
}

.editUser-inner-content{
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  /* gap: 10%; */
  overflow: visible;
  /* background-color: red; */
}

.cerrarEditUser{
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 10px;
  color: grey;
}


.editUser-top{
  width: 95%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-bottom: 1px solid lightgrey;
  /* background-color: red; */
}

.editUser-inner-top{
  width: 100%;
  /* margin-top: 20px; */
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.editPic-div{
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-info-1{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.col-edit{
  /* border-style: solid; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.col-edit-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
  
}

.col-edit-password{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  /* background-color: green; */
}

.col-edit-input-password{
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: start;
  /* background-color: red; */
  width: 100%;
}

.col-edit-input-password label{
  width: 80%;
  margin: 0;
  font-size: 12px;
  color: rgb(139, 139, 139);
}

.col-edit-input-password input{
  width: 100%;
  border: none;
  border: 1px solid lightgrey;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.col-edit-input label{
  width: 80%;
  margin: 0;
  font-size: 12px;
  color: rgb(139, 139, 139);
}

.col-edit-input input{
    width: 80%;
    border: none;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}


.editUser-inner-bott{
  height: 100%;
  width: 90%;
  margin: auto;
  /* background-color: green; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;

  
}

.estadoUsuarioDiv{
  height: 50%;
  /* background-color: blue; */
  display: flex;
  justify-content: start;
  align-items: center;
}

.actualizarBtnDiv{
  display: flex;
  justify-content: end;
  align-items: start;
}

.actualizarBtnDiv button{
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color:  rgb(70, 167, 240);
  color: white;
  outline: none;
}


.estadoUsuarioDiv select{
  width: 50%;
  height: 70%;
  border: none;
  border: 1px solid lightgrey;
}


.editFunctionUser{
  width: 100%;
  height: 100%;
  overflow: auto;  

}

.divEquipos{
  width: 100%;
  /* height: 90%; */
  display: flex;
  align-items: start;
  overflow: hidden;
}

.divEquipos-inner{
  display: flex;
  flex-wrap: wrap; /* Permite que las etiquetas pasen a la siguiente línea */
  gap: 10px; /* Espacio entre etiquetas */
  max-width: 100%; /* Ajusta el ancho según necesites */
  padding: 10px;
} 

.container-team{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  min-width: 150px; /* Ancho mínimo */
  max-width: calc(25% - 10px); /* Para 4 columnas */
}
.container-team p{
  margin: 0;
  font-size: 10px;
}

.eliminarEquipoIcon{
  font-size: 14px;
  color: rgb(78, 78, 78);
  padding-left: 10px;
  cursor: pointer;
}

.funct-col, funct-col-2{
  /* border: 1px solid;   */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* justify-content: center; */
}

.funct-col{
  overflow: hidden;
  width: 90%;
  /* height: 100%; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: start;
}
.funct-col:first-child{
  justify-content: start;
  align-items: start;
}

.funct-col-2{
  overflow: visible;
  /* height: 100%; */
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.divAgregarEquipo{
  /* background-color: red; */
  width: 100%;
  display: flex;
}

.divAgregarEquipo-1{
  width: 80%;
  /* background-color: red; */
}

.divAgregarEquipo-2{
  width: 20%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: end;
}

.divAgregarEquipo-2 button{
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color:  rgb(70, 167, 240);
  color: white;
  outline: none;
}

.funct-col{
  justify-content: center;
}

.funct-col p, .funct-col-2 p{
  margin: 0;
}



@media screen and (max-width: 768px) {
  
  .u-col1{
    margin: 0;
    width: 100%;
  }

  .u-col1-l{
    width: 100%;
  }

  .addUser-div{
    width: 90%;
    height: 70%;
    margin: auto;
  }

  .formUsuario-div input{
    padding: 5px;
  }



  .user-inner{
    width: 100%;
  }


  /* crear usuario*/
  .crearUsuario-content{
    width: 90%;
    height: 50%;
    margin-top: 10%;
  }

  .user-inner-l-inner{
    width: 100%;
    gap: 10px;
    margin-left: 10px;
  }

  .user-inner-r-inner{
    gap: 10%;
  }

  .user-inner-r-inner i{
    font-size: 20px;
  }

  .user-profile-pic, .d3-profile{
    width: 40px;
    height: 40px;
  }
  
  

  /* edit user */
  .editUser-content{
    width: 95%;
    height: 60%;
    margin: 0;
    margin-top: 2%;
    
  }

  

  

  #estadoUsuario{
    width: 80%;
  }
  .actualizarBtnDiv button{
    padding: 10px;
  }
}
